<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-access" version="0.0.1">
    <name>DigitalAccessPlugin</name>

    <description>An Android Cordova plugin that allows users to access building</description>
    <license>MIT</license>

    <keywords>cordova,android</keywords>
    <repo>https://github.com/PierPaoloAnnisAccenture/cordova-outsystems-digital-access.git</repo>
    <issue>https://github.com/PierPaoloAnnisAccenture/cordova-outsystems-digital-access/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/digitalAccessPlugin.js" name="DigitalAccessPlugin">
        <clobbers target="window.plugins.digitalAccessPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DigitalAccessPlugin">
                <param name="android-package" value="com.cordova.plugin.access.DigitalAccessPlugin"/>
            </feature>
        </config-file>
        <config-file after="uses-permission" target="AndroidManifest.xml" parent="/*">
                <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
                <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
                <uses-permission android:name="android.permission.BLUETOOTH" />
                <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"  />
                <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"  />
                <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
                <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
                <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
                <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
                
        </config-file>

        <resource-file src="sdk/android/zblelib-release.aar" target="libs/zblelib-release.aar"/>
		<framework src="sdk/android/dependencies.gradle" custom="true" type="gradleReference"/>
        
        <source-file src="src/android/DigitalAccessPlugin.java" target-dir="src/com/cordova/plugin/access" />
        <source-file src="src/android/Result.java" target-dir="src/com/cordova/plugin/access" />

        <hook type="after_compile" src="hooks/Outsystems/Android/changeManifest.js" />
                <hook type="after_build" src="hooks/Outsystems/Android/changeManifest.js" />

        <hook type="after_plugin_install" src="hooks/Outsystems/Android/changeManifest.js" />

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DigitalAccessPlugin">
                <param name="ios-package" value="DigitalAccessPlugin" />
            </feature>
        </config-file>

        <preference name="USESWIFTLANGUAGEVERSION" default="5"/>
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
			<string>Bluetooth is used to communicate with Zucchetti Axess readers even if phone is locked.</string>
		</config-file>

        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
			<string>Bluetooth is used to communicate with Zucchetti Axess readers.</string>
		</config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
			<string>Always mode is recommended for this app for improved location tracking.</string>
		</config-file>
        
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
			<string>This application uses location to improve your user experience.</string>
		</config-file>
 	    
         <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>bluetooth-central</string>
		        <string>fetch</string>
		        <string>location</string>
		        <string>remote-notification</string>
            </array>
        </config-file>

        <framework src="sdk/ios/ZAxessBLELibrarySaipem.xcframework" custom="true" embed="true"/>
        <framework src="sdk/ios/ZAxessCommonObjects.xcframework" custom="true" embed="true"/>
        <framework src="sdk/ios/ZAxessCryptoFramework.xcframework" custom="true" embed="true"/>

        <source-file src="src/ios/DigitalAccessPlugin.swift" />
        <source-file src="src/ios/Result.swift" />


    </platform>

</plugin>