<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-access" version="0.0.1">
    <name>DigitalAccessPlugin</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/PierPaoloAnnisAccenture/cordova-outsystems-digital-access.git</repo>
    <issue>https://github.com/PierPaoloAnnisAccenture/cordova-outsystems-digital-access/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/digitalAccessPlugin.js" name="DigitalAccessPlugin">
        <clobbers target="window.plugins.digitalAccessPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DigitalAccessPlugin">
                <param name="android-package" value="com.cordova.plugin.access.DigitalAccessPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
                <uses-feature android:name="android.hardware.bluetooth" android:required="true" />
                <uses-permission android:name="android.permission.BLUETOOTH" />
                <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"  />
                <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"  />
                <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"  />
                <uses-permission android:name="android.permission.BLUETOOTH_SCAN"  />
                <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"  />
        </config-file>

        <resource-file src="sdk/android/zblelib-release.aar" target="libs/zblelib-release.aar"/>
		<framework src="sdk/android/dependencies.gradle" custom="true" type="gradleReference"/>
        
        <source-file src="src/android/DigitalAccessPlugin.java" target-dir="src/com/cordova/plugin/access" />
        <source-file src="src/android/Result.java" target-dir="src/com/cordova/plugin/access" />

    </platform>
</plugin>